



<!DOCTYPE html>
<html lang="en" xmlns:v-slot="http://www.w3.org/1999/XSL/Transform" xmlns:width="http://www.w3.org/1999/xhtml">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Калькулятор</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>


<script src="https://unpkg.com/vue@2"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>



<body style="font-family: sans-serif">
<div id="registration" data-app >
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  <v-form>
    <form th:action="@{/signup}" method="post">
      <v-container >
        <v-row>
          <v-col
                  cols="12"
                  sm="4">

          </v-col>

          <v-col
                  cols="12"
                  sm="4">


            <div>Login</div>
            <v-text-field
                    v-model="username"
                    placeholder="Login"
                    outlined
                    clearable
                    th:name="login"
            ></v-text-field>
            <div>Password</div>
            <v-text-field
                    v-model="password"
                    placeholder="Password"
                    outlined
                    clearable
                    th:name="password"
            ></v-text-field>
            <v-container bg fill-height grid-list-md text-center>
              <v-layout row wrap align-center>
                <v-flex>
                  <v-btn

                          color="accent"
                          elevation="11"
                          outlined
                          raised
                          rounded
                          text
                          large
                          inline
                          block
                          type="submit"
                  >Sign up</v-btn>
                  <br>
                  <v-btn

                          color="accent"
                          elevation="11"
                          outlined
                          raised
                          rounded
                          text
                          large
                          inline
                          block
                          th:href="@{/login}"
                  >Sign in</v-btn>
                  <br>
                  <v-btn

                          color="accent"
                          elevation="11"
                          outlined
                          raised
                          rounded
                          text
                          large
                          inline
                          block
                          th:href="@{/}"
                  ><v-icon>mdi-calculator</v-icon> </v-btn>
                  <br>
                  <div th:if="${param.error}" style="text-align: center">
                    Invalid email or password.
                  </div>
                </v-flex>
              </v-layout>
            </v-container>


            <!--          Registration          -->

          </v-col>

          <v-col
                  cols="12"
                  sm="4">

          </v-col>



        </v-row>
      </v-container>
    </form>
  </v-form>

</div>
</body>




<script>

  new Vue({
    el: '#registration',
    vuetify: new Vuetify(),
    data () {
      return {
        username: '',
        password: ''

      }
    },

  })

</script>
</html>